amqp==2.4.1
anyjson==0.3.3
appdirs==1.4.3
APScheduler==3.2.0
asn1crypto==0.23.0
attrs==17.3.0
Automat==0.6.0
autopep8==1.4.3
Babel==2.6.0
beautifulsoup4==4.6.3
billiard==3.5.0.5
bleach==2.1.2
bs4==0.0.1
captcha-solver==0.0.3
celery==4.2.1
certifi==2017.7.27.1f
cffi==1.11.2
chardet==2.3.0
click==6.7
colorama==0.3.9
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.1
cycler==0.10.0
danmu.fm==0.3.6
dbapi==0.0.13
decorator==4.1.2
defusedxml==0.5.0
distro==1.4.0
Django==2.1.7
django-celery==3.2.2
django-haystack==2.8.1
django-redis-sessions==0.6.1
django-suit==0.2.25
django-tinymce==2.7.0
dnspython==1.16.0
easygui==0.98.1
entrypoints==0.2.3
et-xmlfile==1.0.1
eventlet==0.24.1
fake-useragent==0.1.11
Flask==1.0.2
Flask-Login==0.4.1
flower==0.9.1
func-timeout==4.3.0
futures==3.1.1
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
html5lib==1.0.1
httplib2==0.9.1
hyperlink==17.3.1
idna==2.1
incremental==17.5.0
ipykernel==4.7.0
ipython==6.2.0
ipython-genutils==0.2.0
ipywidgets==7.0.5
itsdangerous==1.1.0
jdcal==1.4
jedi==0.10.2
jieba==0.39
Jinja2==2.10
jsmin==2.2.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.0
jupyter-console==5.2.0
jupyter-core==4.4.0
keyring==9.1
keyrings.alt==1.1.1
kombu==4.3.0
launchpadlib==1.10.4
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lxml==4.1.1
Mako==1.0.4
MarkupSafe==0.23
#matplotlib==2.1.1
mistune==0.8.3
monotonic==1.5
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
numpy==1.16.1
oauth==1.0.1
oauthlib==3.0.1
opencv-python==3.4.5
openpyxl==2.5.12
pandas==0.23.4
pandocfilters==1.4.2
parsel==1.2.0
pbr==5.1.2
pexpect==4.2.0
pickleshare==0.7.4
Pillow==3.4.1
pluggy==0.6.0
polib==1.0.7
prompt-toolkit==1.0.15
psycopg2==2.7.5
ptyprocess==0.5.1
py==1.10.0
py-backwards==0.7
py-backwards-astunparse==1.5.0.post3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.4.0
pycparser==2.18
pycurl==7.43.0.2
PyDispatcher==2.0.5
pyee==5.0.0
pygame==1.9.3
Pygments==2.2.0
pymongo==3.7.2
PyMySQL==0.7.9
pyOpenSSL==17.5.0
pyparsing==2.2.0
pypiwin32==219
pyppeteer==0.0.25
pyquery==1.4.0
pyreadline==2.1
pyspider==0.3.10
pytesseract==0.1.6
pytest==3.3.1
python-dateutil==2.6.1
pytz==2017.3
pywin32-ctypes==0.2.0
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
queuelib==1.4.2
redis==2.10.5
reportlab==3.3.0
requests==2.10.0
retrying==1.3.3
rsa==3.4.2
Scrapy==1.5.1
scrapy-redis==0.6.8
scrapy-redis-bloomfilter==0.7.0
scrapy-splash==0.7.2
SecretStorage==2.3.1
selenium==3.6.0
service-identity==17.0.0
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.1.15
ssh-import-id==5.6
tblib==1.3.2
testpath==0.3.1
testresources==2.0.1
timeout-decorator==0.4.0
tornado==4.2
tqdm==4.28.1
traitlets==4.3.2
Twisted==17.9.0
typed-ast==1.1.0
tzlocal==1.5.1
u-msgpack-python==2.5.0
urllib3==1.15.1
vboxapi==1.0
vine==1.1.4
virtualenv==15.1.0
w3lib==1.18.0
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
websockets==7.0
Werkzeug==0.14.1
Whoosh==2.7.4
widgetsnbextension==3.0.8
win-unicode-console==0.5
WsgiDAV==2.4.1
xlrd==1.1.0
xlutils==2.0.0
xlwt==1.3.0
zope.interface==4.4.3
